.game-field table {
  border: 1px solid grey;
  border-collapse: collapse;
  width: 47vw;
  height: 47vw;
}

.game-field table td {
  border: 2px solid rgb(235, 235, 235);
}

.game-field table td.blue {
  cursor: pointer;
}

.green {
  background-color: rgb(0, 232, 113);
}

.red {
  background-color: rgb(232, 90, 95);
}

.blue {
  background-color: rgb(66, 216, 232);
}

@media only screen and (max-width: 768px) {
  .game-field table {
    width: 90vw;
    height: 90vw;
    margin-bottom: 20px;
  }
}